login.erb

<h2>Login</h2>
<form action="/users/login" method="post">
  <label for="email">Email:</label>
  <input type="text" name="user[email]">
    <br>
    <br>
  <label for="password">Password:</label>
  <input type="password" name="user[password]">
    <br>
    <br>
  <input type="submit" name="Login">
</form>